<html>
    <header>
        <script src="https://unpkg.com/vue@next"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </header>
    <body>
        <div id="demo2app" style="padding:40px">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s3">
                        <input placeholder="" id="longitude" type="text" class="validate" v-model="longitude">
                        <label for="longitude">Enter Longitude</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="" id="latitude" type="text" class="validate" v-model="latitude">
                        <label for="latitude">Enter Latitude</label>
                    </div>
                </div>
                <div class ="row">
                    <a class="waves-effect waves-light btn" v-on:click="predictPopularBakeries">Predict</a>
                </div>
            </div>
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s3">
                        <input placeholder="" id="longitude" type="text" class="validate" v-model="longitude">
                        <label for="longitude">Enter Longitude</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="" id="latitude" type="text" class="validate" v-model="latitude">
                        <label for="latitude">Enter Latitude</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="" id="bread_interests" type="text" class="validate" v-model="bread_interests">
                        <label for="bread_interests">Enter Bread Interests</label>
                    </div>
                </div>
                <div class ="row">
                    <a class="waves-effect waves-light btn" v-on:click="predictInterestBakeries">Predict</a>
                </div>
            </div>
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s3">
                        <input placeholder="" id="userID" type="text" class="validate" v-model="userID">
                        <label for="userID">Enter UserID</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="" id="rating" type="text" class="validate" v-model="rating">
                        <label for="rating">Enter Rating</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="" id="placeID" type="text" class="validate" v-model="placeID">
                        <label for="placeID">Enter placeID</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="" id="userID_rating" type="text" class="validate" v-model="userID_rating">
                        <label for="userID_rating">Enter userID rating</label>
                    </div>
                </div>
                <div class ="row">
                    <a class="waves-effect waves-light btn" v-on:click="predictRatedBakeries">Predict</a>
                </div>
            </div>
        </div>
        <script type="text/JavaScript" src="demo2app.js"></script>
    </body>
</html>